 .center {
     width: 80%;
     margin: 0 auto;
     padding: 20px;
 }
 
 .header {
     left: 0;
     top: 0;
     width: 100%;
     background-color: darkgray;
     text-align: center;
 }
 
 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: gainsboro;
     text-align: center;
 }
 
 .well {
     background-color: gainsboro;
 }